@import url(normalize.css);

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
}

main {
  width: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex: 0 1 max(350px, 10vw);
  height: 100vh;
  border-right: 1px solid grey;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 500;
}

h2 {
  text-transform: capitalize;
  font-weight: 500;
}

ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

aside {
  margin-left: 1rem;
}

aside > div {
  width: 100%;
}

.header {
  padding: 1rem 0px;
  width: 100%;
}

/* Modal Project Form */
.bg-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  position: fixed;
  top: 10vw;
  left: 30vw;
  padding: 0.5rem 1rem;
}

legend {
  color: white;
  background-color: #272727;
  padding: 4px 8px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem;
  background-color: #42daaf;
  border: 0;
}

fieldset div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

fieldset div:nth-last-child(1) {
  flex-direction: row;
}

fieldset div:nth-last-child(1) > button {
  flex-grow: 1;
}

input,
textarea {
  padding: 0.5rem;
}

/* Projects Tab */
#p-sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  gap: 0.5rem;
}

#p-sidebar-container > button {
  cursor: pointer;
  text-transform: capitalize;
  width: 90%;
  color: black;
  background-color: whitesmoke;
  text-align: start;
  border: 0;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  padding: 0.5rem 1rem;
}

.p-create-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  background-color: #544e61;
  color: whitesmoke;
}

.p-create-btn:active {
  transform: translateY(4px);
}

/* Project Page */
.project-page {
  padding-left: 3rem;
}

.project-page > p {
  color: grey;
  max-width: 45ch;
}

/* Task container */
.task-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: max(60ch, 50%);
}

/* Task rows */
.task-container > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task-container .task-row {
  display: flex;
}

.task-content {
  display: flex;
  border: 1px solid grey;
  border-left: 0;
  border-radius: 0px 4px 4px 0px;
  flex: 1;
  justify-content: space-between;
  padding: 0.5rem;
}

.task-content div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.task-container button {
  cursor: pointer;
  background: none;
  border: 0;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.task-date {
  color: grey;
}

.t-create-btn {
  cursor: pointer;
  background-color: #09bc8a;
  color: whitesmoke;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 4px;
}

.t-create-btn:active {
  transform: translateY(4px);
}

.task-content .delete-task {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/delete.svg");
}

.priority-marker {
  flex-grow: 0;
  width: 1rem;
  border-radius: 4px 0px 0px 4px;
}

.priority-marker.low {
  background-color: #36558f;
}

.priority-marker.normal {
  background-color: #248232;
}

.priority-marker.high {
  background-color: #c20114;
}

/* Task summary */
.task-info {
  display: grid;
  background-color: #f9f9f9;
  grid-template-rows: 0fr;
  border-radius: 0 0 4px 4px;
  transition: grid-template-rows 0.4s ease-out;
}

.task-info-empty {
  display: hidden;
}

.task-info > div {
  grid-row: 1 / span 2;
  overflow: hidden;
  color: #0a100d;
}

.task-info div > div {
  padding: 0.5rem;
}

.task-info.active {
  grid-template-rows: 1fr;
}
